*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctx {
  border: 1px solid hsl(0, 0%, 80%);
}
